export GO111MODULE=on
export AKASH_ROOT=$(pwd)
export ROOT_DIR=$AKASH_ROOT
export CACHE_BASE=$AKASH_ROOT/.cache
export CACHE=$CACHE_BASE
export CACHE_BIN=$CACHE/bin
export CACHE_INCLUDE=$CACHE/include
export CACHE_VERSIONS=$CACHE/versions
export CACHE_NODE_MODULES=$CACHE
export CACHE_NODE_BIN=$CACHE_NODE_MODULES/node_modules/.bin
export AKASH_RUN=$CACHE/run

PATH_add $CACHE_NODE_BIN
PATH_add $CACHE_BIN

export AKASH=$(which akash)

#layout go

make $CACHE
